<div class="form-group has-feedback" ng-class="{'has-error':salesForm.atticTech.$invalid && salesForm.atticTech.$touched}">
    <label for="atticTech" class="control-label">Tech</label>
    <div class="input-group textbox-medium"> <span class="input-group-addon required">*</span>
        <input type="text" class="form-control textbox-medium" aria-describedby="atticTech" id="atticTech" name="atticTech" placeholder="Enter Tech" ng-model="vm.salesItem.atticTech" required ng-minlength="3" ng-maxlength="255">
    </div>
    <span class="help-block has-error" ng-show="salesForm.atticTech.$touched">
            <span ng-show="salesForm.atticTech.$error.required">Required.</span>
    <span ng-show="salesForm.atticTech.$error.minlength">Min length 2 characters</span>
    <span ng-show="salesForm.atticTech.$error.maxlength">Max length 255 characters</span>
    </span>
</div>
<div class="form-group has-feedback" style="display:none;">
    <label for="atticSM" class="control-label">SM</label>
    <input type="text" class="form-control textbox-medium" id="atticSM" name="atticSM" placeholder="For customers, enter the SM. For prospects, enter 0." ng-model="vm.salesItem.atticSM">
</div>
<div class="form-group" ng-class="{'has-error':salesForm.atticCustomerName.$invalid && salesForm.atticCustomerName.$touched}">
    <label class="control-label" for="atticCustomerName">Customer Name</label>
    <div class="input-group textbox-medium"> <span class="input-group-addon required">*</span>
        <input type="text" class="form-control" required id="atticCustomerName" name="atticCustomerName" aria-describedby="atticCustomerName" placeholder="Enter Customer First and Lastname." ng-model="vm.salesItem.atticCustomerName" required ng-minlegnth="1" ng-maxlength="255">
    </div>
    <span class="help-block has-error" ng-show="salesForm.atticCustomerName.$touched">
            <span ng-show="salesForm.atticCustomerName.$error.required">Required.</span>
    <span ng-show="salesForm.atticCustomerName.$error.minlength">Min length 1 characters</span>
    <span ng-show="salesForm.atticCustomerName.$error.maxlength">Max length 255 characters</span>
    </span>
</div>
<div class="form-group" ng-class="{'has-error':salesForm.atticAddress.$invalid && salesForm.atticAddress.$touched}">
    <label for="atticAddress" class="control-label">Address</label>
    <div class="input-group textbox-medium"> <span class="input-group-addon required">*</span>
        <input type="text" class="form-control textbox-medium" id="atticAddress" name="atticAddress" placeholder="For customers, enter the customer LOCATION information. For prospects, enter '0'." required ng-model="vm.salesItem.atticAddress" ng-minlegnth="1" ng-maxlength="255">
    </div>
    <span class="help-block has-error" ng-show="salesForm.atticAddress.$touched">
            <span ng-show="salesForm.atticAddress.$error.required">Required.</span>
    <span ng-show="salesForm.atticAddress.$error.minlength">Min length 1 characters</span>
    <span ng-show="salesForm.atticAddress.$error.maxlength">Max length 255 characters</span>
    </span>
    <div class="screen-tip help-block"> <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span><span class="sr-only">Info:</span> For customers, enter the customer LOCATION information. For prospects, enter '0'.</div>
</div>
<div class="form-group" ng-class="{'has-error':salesForm.atticSubmissionType.$invalid}">
    <label for="atticSubmissionType" class="control-label">Submission Type</label><span style='color:red'>*</span>
    <div class="radio radio-success">
        <input type="radio" id="atticSubmissionType1" ng-model="vm.salesItem.atticSubmissionType" value="1" name="atticSubmissionType" required>
        <label for="atticsubmissionType1"> I Sold this job</label>
    </div>
    <div class="radio radio-success">
        <input type="radio" id="atticsubmissionType2" ng-model="vm.salesItem.atticSubmissionType" value="2" name="atticSubmissionType" required>
        <label for="atticsubmissionType2"> I am measuring up this job</label>
    </div>
    <div class="radio radio-success">
        <input type="radio" id="atticSubmissionType3" ng-model="vm.salesItem.atticSubmissionType" value="Other" name="atticSubmissionType" required>
        <label for="atticSubmissionType3">Other</label>
    </div>
    <div class="form-group textbox-medium animate-show" ng-show="vm.salesItem.atticSubmissionType=='Other'" ng-class="{'has-error':salesForm.atticSubmissionTypeOther.$invalid && salesForm.atticSubmissionTypeOther.$touched}">
        <div class="input-group"> <span class="input-group-addon required">*</span>
            <input type="text" class="form-control textbox-medium" id="atticSubmissionTypeOther" name="atticSubmissionTypeOther" aria-describedby="atticSubmissionTypeOther" placeholder="Submission Type Other (Required)" ng-model="vm.salesItem.atticSubmissionTypeOther" ng-required="vm.salesItem.atticSubmissionType == 'Other'">
        </div>
    </div>
</div>
<div class="form-group" ng-class="{'has-error':salesForm.atticSalesAmount.$invalid && salesForm.atticSalesAmount.$touched}">
    <label for="atticSalesAmount">Sales Amount</label>
    <div class="input-group textbox-small"> <span class="input-group-addon">$</span>
        <input type="number" class="form-control" id="atticSalesAmount" name="atticSalesAmount" min="0" arial-label="Sales Amount." ng-model="vm.salesItem.atticSalesAmount">
    </div>
    <span class="help-block has-error" ng-show="salesForm.atticSalesAmount.$touched">
            <span ng-show="salesForm.atticSalesAmount.$error.number">Sales Amount should be number.</span>
    </span>
</div>
<div class="form-group" ng-class="{'has-error':salesForm.atticCustomJob.$invalid}">
    <label for="atticCustomJob" class="control-label">Custom job?</label><span style='color:red'>*</span>
    <div class="radio radio-success">

        <input type="radio" name="atticCustomJob" value="1" ng-model="vm.salesItem.atticCustomJob" required>
        <label> No - regular task code</label>
    </div>
    <div class="radio radio-success">

        <input type="radio" name="atticCustomJob" value="2" ng-model="vm.salesItem.atticCustomJob" required>
        <label> No - minor variation of a task code</label>
    </div>
    <div class="radio radio-success">

        <input type="radio" name="atticCustomJob" value="3" ng-model="vm.salesItem.atticCustomJob" required>
        <label> Yes - custom pricing</label>
    </div>
    <div class="form-group">
        <div class="screen-tip"> <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span><span class="sr-only">Info:</span> You will be asked to complete a custom pricing sheet if you choose "yes." Answer "yes" only when a regular task code (or a MINOR variation of one) is not possible. </div>
    </div>
</div>
<div class="form-group">
    <label for="atticTaskCode">Task Code</label>
    <input type="text" class="form-control textbox-small" id="atticTaskCode" name="atticTaskCode" placeholder="Enter task code." ng-model="vm.salesItem.atticTaskCode">
    <div class="screen-tip help-block"> <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span><span class="sr-only">Info:</span> Enter the standard task code. If this is a custom job, enter "none". </div>
</div>
<div class="form-group" ng-class="{'has-error':salesForm.atticSCOL.$invalid}">
    <label for="atticSCOL" class="control-label">SCOL?</label><span style='color:red'>*</span>
    <div class="radio radio-success">
        <input type="radio" name="atticSCOL" required ng-model="vm.salesItem.atticSCOL" value="Yes" required>
        <label>Yes</label>
    </div>
    <div class="radio radio-success">
        <input type="radio" name="atticSCOL" required ng-model="vm.salesItem.atticSCOL" value="No" required>
        <label>No</label>
    </div>
    <div class="form-group">
        <div class="screen-tip"> <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span><span class="sr-only">Info:</span> Is this a Summer Comfort on Loan sale? </div>
    </div>
</div>
<div class="form-group animate-show" ng-show="vm.salesItem.atticSCOL=='Yes'">
    <label for="atticCustSetRequired" class="control-label">Cut and set required?</label>
    <div class="radio  radio-success">
        <input type="radio" name="atticCustSetRequired" value="Yes" ng-model="vm.salesItem.atticCutSetRequired">
        <label>Yes</label>
    </div>
    <div class="radio radio-success">
        <input type="radio" name="atticCustSetRequired" value="No" ng-model="vm.salesItem.atticCutSetRequired">
        <label>No</label>
    </div>
</div>
<div class="form-group animate-show" ng-show="vm.salesItem.atticCutSetRequired == 'Yes'">
    <label for="atticCutSetReason" class="control-label">Cut and set reason</label>
    <div class="radio radio-success">
        <input type="radio" name="atticCutSetReason" ng-model="vm.salesItem.atticCutSetReason" value="Failed Compressor">
        <label> Failed compressor</label>
    </div>
    <div class="radio radio-success">
        <input type="radio" name="atticCutSetReason" ng-model="vm.salesItem.atticCutSetReason" value="Leaking Condensing Coil">
        <label> Leaking condensing coil</label>
    </div>
    <div class="radio radio-success">

        <input type="radio" name="atticCutSetReason" ng-model="vm.salesItem.atticCutSetReason" value="Other">
        <label> Other - include reason</label>
    </div>
    <div class="form-group textbox-medium animate-show" ng-show="vm.salesItem.atticCutSetReason=='Other'">
        <div class="input-group"> <span class="input-group-addon required">*</span>
            <input type="text" class="form-control textbox-medium" id="atticCutSetReasonOther" aria-describedby="atticCutSetReasonOther" placeholder="Cut and Set Reason Other" ng-model="vm.salesItem.atticCutSetReasonOther" ng-required="vm.salesItem.atticCutSetReason == 'Other'">
        </div>
    </div>
</div>
<div class="form-group" ng-class="{'has-error':salesForm.atticFargo.$invalid}">
    <label for="atticFargo" class="control-label">Wells Fargo financed?</label><span style='color:red'>*</span>
    <div class="radio radio-success">
        <input type="radio" name="atticFargo" required ng-model="vm.salesItem.atticWellsFargo" value="Yes">
        <label>Yes</label>
    </div>
    <div class="radio radio-success">
        <input type="radio" name="atticFargo" required ng-model="vm.salesItem.atticWellsFargo" value="No">
        <label>No</label>
    </div>
</div>
<div class="form-group animate-show" ng-show="vm.salesItem.atticWellsFargo == 'Yes'" ng-class="{'has-error':salesForm.atticWellsFargoPlanCode.$invalid && salesForm.atticWellsFargoPlanCode.$touched}">
    <label for="atticWellsFargoPlanCode" class="control-label">Wells Fargo plan code</label><span style='color:red'>*</span>
    <div class="form-group">
        <select required id="atticWellsFargoPlanCode" name="atticWellsFargoPlanCode" ng-model="vm.salesItem.atticWellsFargoPlanCode" ng-required="vm.salesItem.atticWellsFargo == 'Yes'">
            <option value="" ng-if="false"></option>
            <option value="" selected="selected">- Select -</option>
            <option value="1274">2228: Any time. Reduced rate of 9.9%.</option>
            <option value="4079">4079: Any time. Special rate 0% with 24 equal payments.</option>
            <option value="1148">1148: Any time. No interest if paid in 6 months with regular monthly payments.</option>
            <option value="1019">1019: Any time. No interest if paid in 12 months with regular monthly payments.</option>
            <option value="1066">1066: Any time. No interest if paid in 18 months with regular payments.</option>
            <option value="2141">2141: Sep 15 - Nov 15 2014. Eligible equipment only. 0% with 36 equal payments.</option>
            <option value="2142">2142: Sep 15 - Nov 15 2014. Eligible equipment only. 0% with 48 equal payments.</option>
            <option value="2143">2143: Sep 15 - Nov 15 2014. Eligible equipment only. 0% with 60 equal payments.</option>
            <option value="Other">Other: Enter details in Comments and call Manager.</option>
        </select>
    </div>
    <div class="form-group">
        <div class="screen-tip"> <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span><span class="sr-only">Info:</span> Enter the plan code associated with the financing terms you have offered. Make sure the purchase is eligible for the plan code selected. The code must be entered also on the hard copy sales slip that is signed by your customer. </div>
    </div>
</div>

<div class="form-group" ng-class="{'has-error':salesForm.atticSystemLocation.$invalid}">
    <label for="atticFargo" class="control-label">System Location</label><span style='color:red'>*</span>
    <div class="radio radio-success">
        <input type="radio" name="atticSystemLocation" required ng-model="vm.salesItem.atticSystemLocation" value="1">
        <label>Basement</label>
    </div>
    <div class="radio radio-success">
        <input type="radio" name="atticSystemLocation" required ng-model="vm.salesItem.atticSystemLocation" value="2">
        <label>Attic</label>
    </div>
    <div class="radio radio-success">
        <input type="radio" name="atticSystemLocation" required ng-model="vm.salesItem.atticSystemLocation" value="3">
        <label>Crawl Space</label>
    </div>
    <div class="radio radio-success">
        <input type="radio" name="atticSystemLocation" required ng-model="vm.salesItem.atticSystemLocation" value="4">
        <label>Main Floor</label>
    </div>
    <div class="radio radio-success">
        <input type="radio" name="atticSystemLocation" required ng-model="vm.salesItem.atticSystemLocation" value="Other">
        <label>Other</label>
    </div>
    <div class="form-group textbox-medium animate-show" ng-show="vm.salesItem.atticSystemLocation=='Other'" ng-class="{'has-error':salesForm.atticSystemLocationOther.$invalid && salesForm.atticSystemLocationOther.$touched}">
        <div class="input-group"> <span class="input-group-addon required">*</span>
            <input type="text" class="form-control textbox-medium" id="atticSystemLocationOther" name="atticSystemLocationOther" aria-describedby="atticSystemLocationOther" placeholder="System Location Other (Required)" ng-model="vm.salesItem.atticSystemLocationOther" ng-required="vm.salesItem.atticSystemLocation == 'Other'">
        </div>
    </div>
    <div class="form-group" ng-show="vm.salesItem.atticSystemLocation == '1'">
        <label for="atticFargo" class="control-label">Walkout</label>
        <div class="radio radio-success">
            <input type="radio" name="atticWalkout" ng-model="vm.salesItem.atticWalkout" value="Yes">
            <label>Yes</label>
        </div>
        <div class="radio radio-success">
            <input type="radio" name="atticWalkout" ng-model="vm.salesItem.atticWalkout" value="No">
            <label>No</label>
        </div>
    </div>
    <div class="form-group textbox-medium animate-show" ng-show="vm.salesItem.atticSystemLocation=='3'">
        <label for="atticCrawlSpaceOpening" class="control-label">Crawl Space Opening</label>
        <input type="text" class="form-control textbox-medium" id="atticCrawlSpaceOpening" name="atticCrawlSpaceOpening" aria-describedby="atticCrawlSpaceOpening" placeholder="Crawl Space Opening" ng-model="vm.salesItem.atticCrawlSpaceOpening">
    </div>
    <div class="form-group animate-show textbox-medium" ng-show="vm.salesItem.atticSystemLocation=='2'">
        <fieldset>
            <legend>Attic</legend>
            <div class="form-group">
                <label for="atticAccess" class="control-label">Attic Access</label>
                <div class="radio radio-success">
                    <input type="radio" name="atticAccess" ng-model="vm.salesItem.atticAccess" value="Pull Down">
                    <label>Attic Access</label>
                </div>
                <div class="radio radio-success">
                    <input type="radio" name="atticAccess" ng-model="vm.salesItem.atticAccess" value="Access Panel">
                    <label>Access Panel</label>
                </div>
            </div>
            <div class="form-group" ng-class="{'has-error':salesForm.atticOpeningTripDepth.$invalid && salesForm.atticOpeningTripDepth.$touched}">
                <label for="atticOpeningTripDepth" class="control-label">Attic Opening with Trim Depth</label>
                <div class="input-group textbox-small">
                    <input type="number" class="form-control textbox-small" name="atticOpeningTripDepth" ng-model="vm.salesItem.atticOpeningTripDepth">
                </div>
                <span class="help-block has-error" ng-show="salesForm.atticOpeningTripDepth.$touched">
            <span ng-show="salesForm.atticOpeningTripDepth.$error.number">Attic Opening with Trim Depth should be number.</span>
                </span>
            </div>

            <div class="form-group" ng-class="{'has-error':salesForm.atticOpeningTripWidth.$invalid && salesForm.atticOpeningTripWidth.$touched}">
                <label for="atticOpeningTripWidth" class="control-label">Attic Opening with Trim Width</label>

                <input type="number" class="form-control textbox-small" name="atticOpeningTripWidth" ng-model="vm.salesItem.atticOpeningTripWidth">

                <span class="help-block has-error" ng-show="salesForm.atticOpeningTripWidth.$touched">
            <span ng-show="salesForm.atticOpeningTripWidth.$error.number">Attic Opening with Trim Width should be number.</span>
                </span>
            </div>

            <div class="form-group" ng-class="{'has-error':salesForm.atticOpeningWithoutTripDepth.$invalid && salesForm.atticOpeningWithoutTripDepth.$touched}">
                <label for="atticOpeningWithoutTripDepth" class="control-label">Attic Opening without Trim Depth</label>

                <input type="number" class="form-control textbox-small" name="atticOpeningWithoutTripDepth" ng-model="vm.salesItem.atticOpeningWithoutTripDepth">

                <span class="help-block has-error" ng-show="salesForm.atticOpeningWithoutTripDepth.$touched">
            <span ng-show="salesForm.atticOpeningWithoutTripDepth.$error.number">Attic Opening without Trim Depth should be number.</span>
                </span>
            </div>
            <div class="form-group" ng-class="{'has-error':salesForm.atticOpeningWithoutTripWidth.$invalid && salesForm.atticOpeningWithoutTripWidth.$touched}">
                <label for="atticOpeningWithoutTripWidth" class="control-label">Attic Opening without Trim Width</label>
                <input type="number" class="form-control textbox-medium" name="atticOpeningWithoutTripWidth" ng-model="vm.salesItem.atticOpeningWithoutTripWidth">
                <span class="help-block has-error" ng-show="salesForm.atticOpeningWithoutTripWidth.$touched">
            <span ng-show="salesForm.atticOpeningWithoutTripWidth.$error.number">Attic Opening without Trim Width should be number.</span>
                </span>
            </div>

            <div class="form-group">
                <label for="atticStaircase" class="control-label">Staircase or Trim Removal Required</label>
                <div class="radio radio-success">
                    <input type="radio" name="atticStaircase" ng-model="vm.salesItem.atticStaircase" value="Yes">
                    <label>Yes</label>
                </div>
                <div class="radio radio-success">
                    <input type="radio" name="atticStaircase" ng-model="vm.salesItem.atticStaircase" value="No">
                    <label>No</label>
                </div>
            </div>
            <div class="form-group">
                <div class="screen-tip"> <span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span><span class="sr-only">Info:</span>If yes, add cost of carpenter plus 10%.</div>
            </div>
        </fieldset>
    </div>
</div>