<div class="form-group has-feedback  animate-show">
    <fieldset>
        <legend>Electrical Panel</legend>
        <div class="form-group" ng-class="{'has-error':salesForm.elManufacturer.$invalid && salesForm.elManufacturer.$touched}">
            <label class="control-label" for="elManufacturer">Electrical Panel Manufacturer</label>

            <input type="text" class="form-control textbox-medium" id="elManufacturer" name="elManufacturer" aria-describedby="elManufacturer" placeholder="Electrical Panel Manufacturer" ng-model="vm.salesItem.elManufacturer" ng-maxlength="255">

            <span class="help-block has-error" ng-show="salesForm.elManufacturer.$touched">            
<span ng-show="salesForm.elManufacturer.$error.maxlength">Max 255 characters.</span> </span>
        </div>
        <div class="form-group textbox-medium" ng-class="{'has-error':salesForm.elBreaker.$invalid && salesForm.elBreaker.$touched}">
            <label class="control-label" for="elBreaker">Breaker Amps - Indoor Unit</label>

            <input type="number" class="form-control textbox-medium" id="elBreaker" name="elBreaker" aria-describedby="elBreaker" placeholder="Breaker Amps - Indoor Unit" ng-model="vm.salesItem.elBreaker">

            <span class="help-block has-error" ng-show="salesForm.elBreaker.$touched">            
<span ng-show="salesForm.elBreaker.$error.number">Should be number.</span> </span>
        </div>
        <div class="form-group textbox-medium" ng-class="{'has-error':salesForm.elBreakerAmps.$invalid && salesForm.elBreakerAmps.$touched}">
            <label class="control-label" for="elBreakerAmps">Breaker Amps - Outdoor Unit</label>

            <input type="number" class="form-control textbox-medium" id="elBreakerAmps" name="elBreakerAmps" aria-describedby="elBreakerAmps" placeholder="Breaker Amps - Outdoor Unit" ng-model="vm.salesItem.elBreakerAmps" ng-maxlength="255">

            <span class="help-block has-error" ng-show="salesForm.elBreakerAmps.$touched">            
<span ng-show="salesForm.elBreakerAmps.$error.maxlength">Max 255 characters.</span> </span>
        </div>
        <div class="form-group" ng-class="{'has-error':salesForm.elIndoorBreaker.$invalid && salesForm.elIndoorBreaker.$touched}">
            <label class="control-label" for="elIndoorBreaker">Indoor Breaker Size and Poles </label>

            <input type="text" class="form-control textbox-medium" id="elIndoorBreaker" name="elIndoorBreaker" aria-describedby="elIndoorBreaker" placeholder="Indoor Breaker Size and Poles" ng-model="vm.salesItem.elIndoorBreaker" ng-length="255">

            <span class="help-block has-error" ng-show="salesForm.elIndoorBreaker.$touched">            
<span ng-show="salesForm.elIndoorBreaker.$error.maxlength">Max 255 characters.</span> </span>
        </div>
        <div class="form-group" style="display:none;" ng-class="{'has-error':salesForm.elIndoorBreaker2.$invalid && salesForm.elIndoorBreaker2.$touched}">
            <label class="control-label" for="elIndoorBreaker2">Indoor Breaker #2 Size and Poles</label>

            <input type="text" class="form-control textbox-medium" id="elIndoorBreaker2" name="elIndoorBreaker2" aria-describedby="elIndoorBreaker2" placeholder="Indoor Breaker #2 Size and Poles" ng-model="vm.salesItem.elIndoorBreaker2" ng-maxlength="255">

            <span class="help-block has-error" ng-show="salesForm.elIndoorBreaker2.$touched">            
<span ng-show="salesForm.elIndoorBreaker2.$error.maxlength">Max 255 characters.</span> </span>
        </div>
    </fieldset>
</div>