<div class="form-group">
	<label for="rdCustomJob">Custom job?</label>
	<div class="radio">
		<label>
			<input type="radio" name="rdCustomJob">No - regular task code</label>
	</div>
	<div class="radio">
		<label>
			<input type="radio" name="rdCustomJob">No - minor variation of a task code</label>
	</div>
	<div class="radio">
		<label>
			<input type="radio" name="rdCustomJob">Yes - custom pricing</label>
		<div class="screen-tip"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span><span class="sr-only">Info:</span> You will be asked to complete a custom pricing sheet if you choose "yes." Answer "yes" only when a regular task code (or a MINOR variation of one) is not possible.</div>
	</div>
</div>